Body {
    margin: 0;
    font-family: Verdana, Calibri, sans-serif;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
    background-blend-mode: soft-light, screen;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    background-color: transparent;
    color: #12acf0;
    text-decoration: none;
}

a:active {
    outline: 0;
}

ul {
    list-style: none;
}


/*
-----------------------------------------------------------------
                            MENU
-----------------------------------------------------------------
*/

nav > ul {
    margin: 0px;
    padding: 0px;
    padding-left: 25%;
}

/* mettre les elements lien à coter de l'autre */

nav > ul > li {
    float: left;
}

/*cacher les sous-onglets*/

.submenu {
    display: none;
}


nav {
    background-color: #940202;
}

/*On affiche seulemnt les sous-onglet qui correspond */

nav > ul > li {
    float: left;
    position: relative;
}

/*si probleme d'affichage mettre ce commentaire en code */

nav > ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: inline-block;
}

nav > ul > li > a {
    padding: 20px 30px;
    color: #FFF;
}

/* affichage de sous-onglet au passage de la sourie*/

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

/*rendu des contour des sous-onglets*/

.submenu li {
    border-bottom: 1px solid #CCC;
}

/*mise en forme des liens*/

.submenu li a {
    padding: 10px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px
}

/*Ajout d'une couleur au survole de l'onglet*/

.menu-Accueil:hover {
    border-top: 5px solid #FAF7F7;
}

.menu-Produit:hover {
    border-top: 5px solid #FAF7F7;
}

.menu-Notre-Aventure:hover {
    border-top: 5px solid #FAF7F7;
}

.menu-Contactez-nous:hover {
    border-top: 5px solid #FAF7F7;
}

.menu-Espace-Client:hover {
    border-top: 5px solid #FAF7F7;
}

/*Ne plus faire que les onglets bouge au passage de la sourie*/

nav > ul > li:hover a {
    padding: 15px 30px 20px 30px;
}

/*habillage des sous-onglets*/

.menu-Produit .submenu {
    background-color: #F53E3E;
}

.menu-Notre-Aventure .submenu {
    background-color: #F53E3E;
}

.menu-Contactez-nous .submenu {
    background-color: #F53E3E;
}

.menu-Espace-Client .submenu {
    background-color: #F53E3E;
}


.submenu li:hover a {
    color: #EEE;
    font-weight: bold;
}


/*
-----------------------------------------------------------------
                            MENU RESPONSIVE
-----------------------------------------------------------------
*/

/*rendre la checkbox invisible*/

nav input[type=checkbox] {
    display: none;
}

/*On cache le bouton menu mobile*/

.menu-mobile {
    display: none;
}

/*quand l'utilisateur clique sur menu le menu arrive*/

nav input[type=checkbox]:checked ~ ul {
    display: block;
}

/*modification du menu */

@media screen and (max-width: 680px) {
    .menu-mobile {
        display: block;
        color: #fff;
        background-color: rgba(29, 197, 151, 0.97);
        text-align: center;
        padding: 12px 0;
    }
    nav ul {
        display: none;
    }


    nav ul li,
    nav ul li a {
        width: 100%;
        text-align: center;
    }

    nav ul li,
    nav ul li a {
        padding: 10px 0px 10px 0px;
    }

    nav li:hover .submenu {
        display: block;
        position: static;
    }
}

/*
-----------------------------------------------------------------
                          LOGO
-----------------------------------------------------------------
*/

.logo{
    float: left;
    margin-left: 100px;
}


/*
-----------------------------------------------------------------
                            TEXTE
-----------------------------------------------------------------
*/

div .texteMenu  {

    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 65px;
    font-family: 'Rubik', sans-serif;
    color: #333;
}

div .explication{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: #333;
}

/*
-----------------------------------------------------------------
                            DESCRIPTION
-----------------------------------------------------------------
*/

section {
    max-width: 1200px;
    margin: auto;
}

.Personne1{
    margin: 50px;
    display: flex;
}

.Personne1 p{
    margin: 30px;
}

.Personne2{
    margin: 50px;
    display: flex;
}

.Personne2 p{
    margin: 30px;
}

/*
-----------------------------------------------------------------
                            FOOTER
-----------------------------------------------------------------
*/

footer{
    background-color: #940202;
}
footer h3 {
    font-family: 'BioRhyme Expanded', serif;
    text-align: center;
}

footer div {
    text-align: center;
    padding: 10px;
}
